body {
  margin: auto;
  max-width: 1920px;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, sans-serif;
  font-size: $font-size-base;
  color: $font-color-primary;

  .el-main {
    overflow: visible;
  }
}
